@model IEnumerable<ClassScheduler.Models.Instructor>

@{
    ViewData["Title"] = "Index";
}

<input style="float: right; margin-top: 25px;" class="btn btn-default" value="Toggle Time Format" type="button" onclick="TimeToggle();" />
<a id="TimeToggle" asp-action="ToggleTimeFormat"></a>

@if (ViewBag.AcademicSemester != null) {
    <h2>Instructor Schedules @ViewBag.AcademicSemester</h2>
}
else {
    <h2>Instructors</h2>
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<partial name="_AcademicSemesterSelector" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseLoad)
            </th>
            <th>
                Schedule
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr class="trEditableRow">
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="tdEditorLink"></a>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseLoad)
                </td>
                <td>
                    @for (int sectionIndex = 0; sectionIndex < ViewBag.InstructorSections[item.ID].Count; sectionIndex++) {
                        <div>
                            <a asp-controller="Section" asp-action="Edit" asp-route-id='@ViewBag.InstructorSections[item.ID][sectionIndex].ID'>@ViewBag.InstructorSections[item.ID][sectionIndex].SectionNumberAndCourseName : @ViewBag.InstructorSections[item.ID][sectionIndex].DayDisplay @ViewBag.InstructorSections[item.ID][sectionIndex].StartTimeDisplay - @ViewBag.InstructorSections[item.ID][sectionIndex].EndTimeDisplay</a>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
