@model IEnumerable<ClassScheduler.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Users</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr class="trEditableRow">
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="tdEditorLink"></a>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
